@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&display=swap');
#mainImage {
    padding-top: 60px;
    background: url(../../assets/images/main_image.png) no-repeat fixed 50% 50%; /* Permet de fixer l'image est de la centrer */
    background-size: cover; /* Couvre tout l'écran */
    height: 800px;
}
h1 {
    font-family : 'Dancing Script', cursive;
    color: #a1d6e2;
    text-align: center;
    font-size: 6em;
    margin-top: 100 px;
    text-shadow: 1px 3px 2px black; /* Crée une ombre derière le text */
}
#firstLine {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: #1995AD
}
h3 {
    color:#a1d6e2;
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
    text-align: center;
}