div {
    
    margin:0;
    padding: 0;
    background-color: #a1d6e2;
    
}
.loginForm {
    padding: 10px 5px 75px 5px;
    background-color: #a1d6e2;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    
    
}
.loginForm label, input, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2 em;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 5px;
    vertical-align: middle;


}


    

