body {
  margin: 0;
  
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} *//* ****************************** NAVBAR ******************************** */



/* ****************************** FOOTER ******************************** */
footer {
  background-color: #1995AD;
  color:#f1f1f2;
  padding: 20px 0 10px 0;
  text-align: center
}
form {
  margin: 0 auto;
  max-width: 900px;
}
footer input,textarea, button {
  border: none;
  width: 55%;
  padding: 15px 10px;
  margin: 1px 0;
  font-size: 1.2 em;
  font-family: 'Advent Pro', sans-serif;
  border-radius: 5px;
}
footer textarea {
  height: 120px;
}
footer button {
  font-size: 1.5em;
  background-color: #a1d6e2;
}
button:hover {
  background-color: #f1f1f2;
  color: #a1d6e2;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#secondLine {
  height: 1px;
  width: 75%;
  background-color: #a1d6e2;
  margin: 60px auto;
}
#copyrightAndIcons {
  display: flex;
  margin-bottom: 20px;
  padding: 0 10%;
}
#copyright {
  width: 50%;
  text-align: left;
  color: #f1f1f2;
}
#icons {
  width: 50%;
  text-align: right;
}
#icons a {
  display: inline-block;
  margin: 0 15px;
  font-size: 1.3em;
  color: #f1f1f2;
}
#icons a:hover {
  transform: scale(1.5);
  transition: 0.1s;
}
